<div class="login center-block">
    <form name="form-login" id="form-login" class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputUser" class="col-sm-4 control-label">USUARIO</label>
            <div class="col-sm-6">
                <input name="inputUser" type="text" class="form-control" id="inputUser" placeholder="Enter User">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-4 control-label">PASSWORD</label>
            <div class="col-sm-6">
                <input name="inputPassword" type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-4">
                <button id="submitBtn" type="button" class="btn btn-default" value="login">Entrar</button>
            </div>
        </div>
    </form>
</div>