/*
Creado por Sergio Soriano Toro contacto@sergiosoriano.com
*/
/* 
    Created on : 25-may-2014, 18:31:06
    Author     : Ser
*/

#content {
    border: #245269 solid thin;
    border-radius: 10px;
    margin: 20px;    
    
}