/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-abr-2014, 16:09:02
    Author     : Ser
*/

@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Lato);
/* width and height of google map */
html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}
.container-map {
    padding: 20px;
    border: #222 solid thin;
    border-radius: 5px;    



    margin: 15px;
}
#google_map {height: 100%; margin-top:0px;margin-left:auto;margin-right:auto;}

/* Marker Info Window */
h1.marker-heading{color: #585858;margin: 0px;padding: 0px;font: 18px "Trebuchet MS", Arial;border-bottom: 1px dotted #D8D8D8;}
div.marker-info-win {margin-right: -20px;width: 200px;}
div.marker-info-win p{padding: 0px;margin: 10px 0px 10px 0;}
div.marker-inner-win{padding: 5px; text-align: center;}
#eliminar {
    margin-top: 10px;
    margin-bottom: 10px;
}
#orderValue{
    width: 30px;
}
/*#address{
    width: 50%;
}*/
#alert{
    margin: 15px;
}
#right {

}

#head {
    min-height: 20%;
    background-color: #080808;
    padding: 20px;
}
#content,#body {
    min-height: 500px;
}

#foot {
    min-height: 20%;
    background-color: #282828;
}
#head h1{
    font-size: 7em;
    font-family: 'Lato', cursive;
    color: #D8D8D8;
}
hr {
    color: #282828;
    background-color: #282828;
    height: 3px;
}
.btn-danger {
    background-color: #282828;
    border-color: #282828;
}
.btn-danger:hover {
    background-color: #282828;
    border-color: #282828;
    color: #D8D8D8;
}
.login {
    width: 70%;
    margin-top: 30px;
    margin-bottom : 30px;
    padding: 30px;

    border-radius: 5px;
}
.block h1 {
    text-align: center;
    font-size: 3em;
}
#freewall {

    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.brick {
    // border: #222 solid thin;
    border-radius: 5px;    
    padding: 15px;

    width: 350px;
    margin: 15px;

}
.brick img {
    margin: 0;
    display: block;
}
.brick .actionBtn {   
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.brick:hover {
    background-color: #D8D8D8
}
.block h3 {
    text-align: center;
}
#newRoute {
    margin-top: 20px;
    margin-left: 2%;

}
#actionBtn{

    margin:auto;
    text-align: center;
}
.block h1 span {
    font-size: 2em;
}


.info-foot{
    color: #D8D8D8;
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 15px;

}

.userBox {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}
.userBox p{
    color: #D8D8D8;

}
.userBox span {
    color:#2aabd2;
}
#message {
    color: red;
}
#toolbar {
   text-align: center;
   margin: auto;
   margin-top:15px;
}
#title,#descripcion {
    float:left;
}

#waiting {
    width: 400px;
    height: 300px;
}
#dateRoute {
    height: 70%;
}/*
#descriptionRoute {
    width: 86%;
    height: 60%;
}
#titleRoute{
    width: 80%;
}
#toolbar {
    height: 10%;
}
#localice {
    height: 10%;
}
#footerRoute{
    height: 10%;
}
#fileupload {
    width: 200px;
}
*/